<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Header et Footer</title>
</head>
<body>
<!-- Header -->
<header>
    <div class="header-container">
        <h1>Imperium de L'humanité</h1>
        <img src="{{ logo_path }}" alt="Logo">
        <nav>
            <ul>
                <li><a href="{{ menu_item_1_url }}">Imperium</a></li>
                <li><a href="{{ menu_item_2_url }}">Vivre Ensemble</a></li>
                <li><a href="{{ menu_item_3_url }}">Nous Rejoindre</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main>
    {% block content %}
        <!-- Contenu principal ici -->
    {% endblock %}
</main>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <img src="{{ logo_path }}" alt="Logo">
        <nav>
            <ul>
                <li>
                    <span>{{ footer_menu_1_label }}</span>
                    <ul>
                        <li><a href="{{ footer_menu_1_item_1_url }}">{{ footer_menu_1_item_1_label }}</a></li>
                        <li><a href="{{ footer_menu_1_item_2_url }}">{{ footer_menu_1_item_2_label }}</a></li>
                        <li><a href="{{ footer_menu_1_item_3_url }}">{{ footer_menu_1_item_3_label }}</a></li>
                    </ul>
                </li>
                <li>
                    <span>{{ footer_menu_2_label }}</span>
                    <ul>
                        <li><a href="{{ footer_menu_2_item_1_url }}">{{ footer_menu_2_item_1_label }}</a></li>
                        <li><a href="{{ footer_menu_2_item_2_url }}">{{ footer_menu_2_item_2_label }}</a></li>
                        <li><a href="{{ footer_menu_2_item_3_url }}">{{ footer_menu_2_item_3_label }}</a></li>
                    </ul>
                </li>
                <li>
                    <span>{{ footer_menu_3_label }}</span>
                    <ul>
                        <li><a href="{{ footer_menu_3_item_1_url }}">{{ footer_menu_3_item_1_label }}</a></li>
                        <li><a href="{{ footer_menu_3_item_2_url }}">{{ footer_menu_3_item_2_label }}</a></li>
                        <li><a href="{{ footer_menu_3_item_3_url }}">{{ footer_menu_3_item_3_label }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
